html, body
{
    height: 100%;
}

.reicss.inline.sub.header {
margin-left:0.7em !important;
font-size:0.8rem;
text-align:left;
}
.reicss.main.header{
padding-top:0.2rem;
width: 100%;
font-weight: normal;
line-height: 1em;
font-size:1.2rem;
color: #5a5a5a;
text-align:center;
}
.reicss.sub.header {
font-size:0.7rem !important;
text-align:center;
}
.reicss.header {
font-size:1.2rem;

}
.reicss.front.head {
    height:8em;
}
.reicss.top.grid{
    position:absolute;
    width:100%;
    z-index:1;
}
.reicss.top.background {
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.9);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.9);
    -o-box-shadow: 0 1px 4px rgba(0,0,0,.9);
    box-shadow: 0 1px 4px rgba(0,0,0,.9);
    background-color:white;
    margin:0em;
    height:1px;
    z-index:0;
    position:absolute;
    width:100%;
    top:4em;
}
.reicss.content {
    position:absolute;
    width:100%;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.5);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.5);
    -o-box-shadow: 0 1px 4px rgba(0,0,0,.5);
    box-shadow: 0 1px 4px rgba(0,0,0,.5);
    background-image: url(../img/cover.jpg);
    background-color:white;
    height:55%;
    margin:0em;
    margin-bottom:2em;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center; 

}
.reicss.content2 {
    padding:2em;
    position:absolute;
    width:100%;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
    -o-box-shadow: 0 1px 4px rgba(0,0,0,.2);
    box-shadow: 0 1px 4px rgba(0,0,0,.2);
    background-color:white;
    height:35%;
    margin:0em;
    margin-bottom:2em;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center; 
    top : calc( 55% + 15.5em )
}
.reicss.front.general {
    overflow-y: scroll;
    background-image: url(../img/back.jpg); 
    background-position:center bottom; 
    background-repeat:no-repeat;
    background-size:auto;
}
.flheight {
    height:100% !important;
}

.reicss.head.menu {
    position:absolute;
    width:100%;
    height:3.5em;
    border:0px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
    -o-box-shadow: 0 1px 4px rgba(0,0,0,.2);
    box-shadow: 0 1px 4px rgba(0,0,0,.2);
    background-color:white;
    margin:0em;
    border-radius:0rem;
    top : calc( 55% + 8em + 2em )
}
.reicss.footer {
    position:absolute;
    width:100%;
    height:15%;
    margin:0em;
    margin-bottom:2em;
    top : calc( 90% + 15.5em )
}
.reicss.logo {
    width:100%;
    background-position:center center;
    background-image:url(../img/logo.png);
    height:8em;
    background-size:auto;
    background-repeat:no-repeat;
}
