{{define "cover"}}
    <div class="reicss {{block "page" .}}{{end}} cover">
        <div class="reicss logo">
            <div class = "reicss logopic">
            </div>
        </div>
    </div>
{{end}}
