{{define "logo"}}
<div class="reicss head">
    <div class="reicss top background">
    </div>
    <div class="ts reicss top flheight grid">
        <div class = "six wide column">
        </div>
        <div class = "four wide column">
            <div class = "reicss logo">
            </div>
        </div>
        <div class = "six wide column">
        </div>
    </div>
</div>
{{end}}
