<!-- START : topbar define -->
{{define "top"}}active{{end}}
{{define "page"}}index{{end}}
<!-- STOP : topbar define -->

<!-- START : content define -->
{{ define "content" }}            
    {{template "logo" .}}
    {{template "cover" .}}
    {{template "menu" .}}
    <div class="reicss index content">
        <div class = "ts grid">
            <div class = "seven wide column">
                <div class="ts reicss header">
                    Information
                    <div class="reicss inline sub header">インフォメーション</div>
                </div>
                <div class="ts bulleted list">
                    {{ range $key, $value := .info }}
                        <a class="item" href="/info/{{ $value.URL }}">{{ $value.Title }}</a>
                    {{end}}
                </div>
            </div>
            <div class = "seven wide column">
            </div>
        </div>
    </div>
    {{template "footer" .}}
{{end}}
<!-- STOP : content define -->
