<!-- START : topbar define -->
{{define "top"}}active{{end}}
{{define "page"}}info{{end}}
<!-- STOP : topbar define -->

<!-- START : content define -->
{{ define "content" }}
            {{template "logo" .}}
            {{template "cover" .}}
            {{template "menu" .}}
            <div class="reicss info content">
                <div class = "ts grid">
                    <div class = "seven wide column">
                        <div class="ts reicss header">
                            {{ .info.Title }}
                        </div>
                        {{ .info.Content }}
                    </div>
                        <div class = "seven wide column">
                        </div>
                </div>
            </div>
            {{template "footer" .}}
{{ end }}
