<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocas-ui/2.3.3/tocas.css">
        <link rel="stylesheet" href="./static/css/reicss.css">
        <title>{{.title}} - 我不知道社團名稱</title>
    </head>
    <body>
        <div class="flheight">
        {{ template "content" . }}
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tocas-ui/2.3.3/tocas.js"></script>
    </body>
</html>
